@media screen and (max-width:960px) {
  html {font-size: 50%;}

  /* Components */
  .cp-quick-category .viewAll .icon:before {width: 4rem;}
  .cp-quick-category .viewAll .icon:after {height: 4rem;}
} /* End */

@media screen and (max-width:480px) {
  html {font-size: 50%;}
  /* html {font-size: 40%;} */
} /* End */

@media screen and (max-width:360px) {
  /* html {font-size: 35%;} */
} /* End */