@charset "utf-8";

* {margin:0;padding:0;}
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
article,aside,canvas,details,figcaption,figure,main,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {border:0;outline:0;background:transparent;font-size:100%;}
table,caption,tbody,tfoot,thead,tr,th,td {outline:0;background:transparent;font-size:100%;}
article,aside,canvas,details,figcaption,figure,main,
footer,header,hgroup,menu,nav,section,summary {display:block;}
nav, ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after {content:"";content:none;}

a {margin:0;padding:0;border:0;font-size:100%; word-break: break-all;}
ins {color:#000;text-decoration:none;}
mark {color:#000;font-style:italic;font-weight:700;}
del,s {text-decoration:line-through;}
abbr[title],dfn[title] {border-bottom:1px dotted #000;cursor:help;}

hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select {}
th,td {}

select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none;}

body {font-size:15px;color:#555;line-height:150%;}
table{font-size:inherit;}
pre,code,kbd,samp,tt{font-family:monospace; line-height:100%;}

caption {text-indent:-20000px; height:0px; overflow:hidden;}

address {font-style:normal;display:inline;}

a{color:#555;text-decoration:none;}

li {list-style:none;}
ul.fllist li , .fllist > * {float:left;}
ul.frlist li , .frlist > * {float:right;}
.fllist:after , .frlist:after {clear:both;display:block;content:"";}
ol.onum li, .onum li {list-style-type:decimal}
.onum {padding-left:22px}

fieldset {padding:0px;margin:0px;border:0px;}
legend{display:none;}
label, input, button, textarea, select{vertical-align: baseline;}
img {border:0px;vertical-align:middle;}
img.button {cursor:pointer;}
button.imgBtn {padding:0px;margin:0px;border:0px;cursor:pointer;}

table { border-collapse: collapse; border-spacing: 0px; width:100%}
table.ashow {empty-cells:show;}

label.hide{font-size:0; position: absolute;}
