@charset "UTF-8";

/* 폰트스타일.S */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 폰트스타일.E */

/* 
    css 전역변수들은 여기에 다 작성 하였습니다. 
    추후에도 다양한 전역변수를 여기에 작성
*/
/* 색상변수.S */
:root {

    /* 폰트크기 */
    --font_12: 12px;
    --font_13: 13px;
    --font_14: 14px;
    --font_15: 15px;
    --font_16: 16px;
    --font_17: 17px;
    --font_18: 18px;
    --font_19: 19px;
    --font_20: 20px;
    --font_21: 21px;
    --font_22: 22px;
    --font_23: 23px;
    --font_24: 24px;
    --font_25: 25px;

    /* 글자 굵기 */
    --font_w100: 100;
    --font_w200: 200;
    --font_w300: 300;
    --font_w400: 400;
    --font_w500: 500;
    --font_w600: 600;
    --font_w700: 700;
    --font_w800: 800;
    --font_w900: 900;

    /* 글쓰기 아이콘 */
    --btn_write: url("/admin/img/images/common/btn_type1_write.png");
    --btn_list: url("/admin/img/images/common/btn_type1_list.png");
    --btn_fix: url("/admin/img/images/common/btn_type1_modify.png");
    --btn_del: url("/admin/img/images/common/btn_type1_delete.png");
    --btn_cen: url("/admin/img/images/common/btn_type1_cancel.png");
    --btn_acc: url("/admin/img/images/common/btn_type1_confirm.png");

    /* 글쓰기 아이콘 - 색상 */
    --btn_write2: url("/admin/img/images/common/btn_type2_write.png");
    --btn_list2: url("/admin/img/images/common/btn_type2_list.png");
    --btn_fix2: url("/admin/img/images/common/btn_type2_modify.png");
    --btn_del2: url("/admin/img/images/common/btn_type2_delete.png");
    --btn_cen2: url("/admin/img/images/common/btn_type2_cancel.png");
    --btn_acc2: url("/admin/img/images/common/btn_type2_confirm.png");

    /* 버튼 아이콘 */
    --icon_down: url("/admin/img/images/common/icon_type1_down.png");
    --icon_more: url("/admin/img/images/common/icon_type1_more.png");
    --icon_go: url("/admin/img/images/common/icon_type1_visit.png");
    --icon_location: url("/admin/img/images/common/icon_type1_loc.png");
    --icon_home: url("/admin/img/images/common/icon_type1_home.png");

    /* 버튼 아이콘 - 색상 */
    --icon_down2: url("/admin/img/images/common/icon_type2_down.png");
    --icon_more2: url("/admin/img/images/common/icon_type2_more.png");
    --icon_go2: url("/admin/img/images/common/icon_type2_visit.png");
    --icon_location2: url("/admin/img/images/common/icon_type2_loc.png");
    --icon_home2: url("/admin/img/images/common/icon_type2_home.png");

    /* 제목 태그 외 폰트 색상 지정  */
    /* 글자 색상 */
    --color_0: #000;
    --color_3: #333;
    --color_5: #555;
    --color_9: #999;
    --color_white: #fff;
    --color_f9: #f9f9f9;
    --color_f7: #f7f7f7;
    --color_red: #C20606;
    --color_blue: #0651C2;
    --color_green: #038A19;
    --color_green2: #00908d;
    --color_braun: #C66409;
    --color_purple: #5644a1;

}

/* 색상변수.E */

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: var(--font_w500);
    font-size: var(--font_16)
}

/* 빈 여백.S */
[class^="gap"] {
    display: block;
}

.gap5 {
    height: 5px;

}

.gap10 {
    height: 10px;
}

.gap15 {
    height: 15px;
}

.gap20 {
    height: 20px;
}

.gap30 {
    height: 30px;
}

.gap40 {
    height: 40px;
}

.gap50 {
    height: 50px;
}

.gap60 {
    height: 60px;
}

.gap70 {
    height: 70px;
}

.gap80 {
    height: 80px;
}

.gap100 {
    height: 100px;
}

/* 빈 여백.E */

/* 탭 메뉴 */
[class^="tap_box"] {
    width: 100%;
}

[class^="tap_box"] [class^="taps"] {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: wrap;
}

[class^="tap_box"] [class^="taps"] li {
    width: 25%;
    margin-top: -1px;
    margin-left: -1px;
}

[class^="tap_box"] [class^="taps"] li a {
    display: flex;
    height: 100%;
    width: 100%;
    font-weight: var(--font_w500);
    font-size: var(--font_18);
    color: var(--color_5);
    background: var(--color_f9);
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #e1e1e1;
    position: relative;
    /* transition: 0.1s ease-in-out; */
    align-items: center;
    justify-content: flex-start;
}

[class^="tap_box"] [class^="taps"] li a:hover,
[class^="tap_box"] [class^="taps"] li.active a {
    border-color: var(--color_green2);
    border-width: 1px;
    outline: 1px solid var(--color_green2);
    font-weight: var(--font_w500);
    color: var(--color_green2);
    z-index: 2;
}

[class^="tap_box"] [class^="taps"].depth4 li a:hover:after,
[class^="tap_box"] [class^="taps"].depth4 li.active a:after {
    content: "";
    width: 19px;
    height: 13px;
    background: url("/admin/img/images/common/sub-depth4-ico.png") no-repeat;
    position: absolute;
    top: 23px;
    right: 20px;
}

[class^="tap_box"] [class^="taps"].type2 li a {
    display: block;
    background: var(--color_white);
    box-sizing: border-box;
    position: relative;
}

[class^="tap_box"] [class^="taps"].type2 li a:hover,
[class^="tap_box"] [class^="taps"].type2 li.active a {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

[class^="tap_box"] [class^="taps"].type3 li {
    width: auto;
    margin: 2px;
}

[class^="tap_box"] [class^="taps"].type3 li a {
    display: block;
    color: var(--color_5);
    padding: 10px 20px;
    border: dashed 1px #e1e1e1;
    font-size: var(--font_16);
    font-weight: var(--font_w400);
    text-align: center;
}

[class^="tap_box"] ul[class^="taps"].type3 li a:hover,
[class^="tap_box"] ul[class^="taps"].type3 li.active a {
    font-weight: var(--font_w500);
    color: #225d6b;
    border: solid 1px #225d6b;
    background: #f5fafa;
}


/* 블릿 */
h4[class^="htag_title"] {
    font-weight: var(--font_w500);
    font-size: var(--font_25);
    color: var(--color_0);
}

h4[class^="htag_title"] span {
    color: var(--color_5);
}

h5[class^="htag_title"],
h6[class^="htag_title"] {
    font-weight: var(--font_w500);
    font-size: var(--font_20);
    color: var(--color_green2);
    padding: 0 0 0 25px;
    box-sizing: border-box;
    position: relative;
}

h5[class^="htag_title"]:before,
h6[class^="htag_title"]:before {
    content: "";
    width: 18px;
    height: 18px;
    background: url("/admin/img/images/common/h5_icon.png") no-repeat center / 17px;
    position: absolute;
    top: 0;
    left: 0;
}

h6[class^="htag_title"] {
    color: #5948A3;
    padding: 0 0 0 20px;
}

h6[class^="htag_title"]:before {
    height: 20px;
    background: url("/admin/img/images/common/h6_icon.png") no-repeat center center / 10px;
}

[class^="cnt_list"] li {
    font-weight: var(--font_w500);
    font-size: var(--font_16);
    color: var(--color_3);
    box-sizing: border-box;
    position: relative;
}

[class^="cnt_list"] li:before {
    content: "";
    position: absolute;
}

[class^="cnt_list"].step01 li {
    padding: 0 0 5px 15px;
    box-sizing: border-box;
    position: relative;
}

[class^="cnt_list"].step01 li:before {
    width: 8px;
    height: 2px;
    background: #404040;
    top: 9px;
    left: 0;
}

[class^="cnt_list"].step02 {
    padding: 5px 0 5px 0;
}

[class^="cnt_list"].step02 li {
    color: var(--color_5);
    padding: 0 0 5px 12px;
}

[class^="cnt_list"].step02 li:before {
    width: 4px;
    height: 4px;
    background: #a6a6a6;
    border-radius: 100%;
    top: 9px;
    left: 0;
}

[class^="cnt_list"].number_type {
    counter-reset: number_list
}

[class^="cnt_list"].number_type li {
    color: var(--color_3);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
    align-items: baseline;
    counter-increment: number_list;
}

[class^="cnt_list"].number_type li::before {
    width: 15px;
    height: 15px;
    font-weight: var(--font_w500);
    font-size: var(--font_12);
    color: var(--color_white);
    text-align: center;
    padding-top: 2px;
    position: static;
    background: var(--color_green);
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 12px;
    flex-shrink: 0;
    content: counter(number_list);
    display: block;
}

[class^="cnt_list"].number_type li .txt {
    padding: 0px 0 0 10px;
}


/* 테이블 */
/* table-wrap */
[class^="table_box"] table.type01 {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    clear: both;
    color: var(--color_5);
    background: var(--color_white);
    border-top: 2px solid #225d6b;
    font-weight: var(--font_w500);
}

[class^="table_box"] table thead th {
    background: #f5fafa;
    color: var(--color_0);
    font-weight: var(--font_w500);
    text-align: center;
    letter-spacing: -0.03em;
    padding: 15px;
    font-size: var(--font_16);
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #839da3;
    font-weight: var(--font_w500);
    box-sizing: border-box;
}

[class^="table_box"] table thead th:last-child {
    border-right: none;
}

[class^="table_box"] table tbody th {
    letter-spacing: -0.02em;
    padding: 15px;
    color: var(--color_0);
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background: #f5fafa;
    font-weight: var(--font_w500);
    box-sizing: border-box;
}

[class^="table_box"] table tbody td {
    letter-spacing: -0.02em;
    padding: 12px;
    color: var(--color_5);
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    text-align: center;
    font-size: var(--font_16);
    font-weight: var(--font_w400);
    box-sizing: border-box;
}

[class^="table_box"] table tbody td:last-child {
    border-right: none;
}



/* 버튼 */
[class^="btn_wrap"] a {
    display: inline-block;
    border: solid 1px #ccc;
    border-radius: 30px;
    padding: 8px 15px;
    box-sizing: border-box;
    background: var(--color_white);
    transition: all .3s ease-in-out;
}

[class^="btn_wrap"] a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
}

[class^="btn_wrap"] a span {
    font-weight: var(--font_w500);
    font-size: var(--font_14);
    color: var(--color_0);
    display: inline-block;
    position: relative;
    padding-right: 25px;
    background-position: center right;
    background-repeat: no-repeat;
}

[class^="btn_wrap"][class*="btn_type"] a {
    width: 100px;
    text-align: center;
}

[class^="btn_wrap"].btn_type .btn_write span {
    background-image: var(--btn_write);
}

[class^="btn_wrap"].btn_type .btn_list span {
    background-image: var(--btn_list);
}

[class^="btn_wrap"].btn_type .btn_fix span {
    background-image: var(--btn_fix);
}

[class^="btn_wrap"].btn_type .btn_del span {
    background-image: var(--btn_del);
}

[class^="btn_wrap"].btn_type .btn_cen span {
    background-image: var(--btn_cen);
}

[class^="btn_wrap"].btn_type .btn_acc span {
    background-image: var(--btn_acc);
}

[class^="btn_wrap"].bg_type1 a {
    background-color: var(--color_5);
}

[class^="btn_wrap"].bg_type2 a {
    background-color: var(--color_green2);
}

[class^="btn_wrap"][class*="bg_type"] a span {
    color: var(--color_white)
}

[class^="btn_wrap"][class*="bg_type"] .btn_write span {
    background-image: var(--btn_write2);
}

[class^="btn_wrap"][class*="bg_type"] .btn_list span {
    background-image: var(--btn_list2);
}

[class^="btn_wrap"][class*="bg_type"] .btn_fix span {
    background-image: var(--btn_fix2);
}

[class^="btn_wrap"][class*="bg_type"] .btn_del span {
    background-image: var(--btn_del2);
}

[class^="btn_wrap"][class*="bg_type"] .btn_cen span {
    background-image: var(--btn_cen2);
}

[class^="btn_wrap"][class*="bg_type"] .btn_acc span {
    background-image: var(--btn_acc2);
}

[class^="btn_wrap"].small_type a {
    width: 46px;
    height: 46px;
    display: inline-block;
    text-indent: -9999px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    padding: 0;
}

[class^="btn_wrap"].small_type .dwn,
[class^="btn_wrap"] .dwn span {
    background-image: var(--icon_down);
}

[class^="btn_wrap"].small_type .detail,
[class^="btn_wrap"] .detail span {
    background-image: var(--icon_more);
}

[class^="btn_wrap"].small_type .go,
[class^="btn_wrap"] .go span {
    background-image: var(--icon_go);
}

[class^="btn_wrap"].small_type .location,
[class^="btn_wrap"] .location span {
    background-image: var(--icon_location);
}

[class^="btn_wrap"].small_type .home,
[class^="btn_wrap"] .home span {
    background-image: var(--icon_home);
}

[class^="btn_wrap"].color_type a {
    border: solid 2px var(--color_green2);
}

[class^="btn_wrap"].color_type a span {
    color: var(--color_green2);
}

[class^="btn_wrap"].color_type .dwn span {
    background-image: var(--icon_down2);
}

[class^="btn_wrap"].color_type .detail span {
    background-image: var(--icon_more2);
}

[class^="btn_wrap"].color_type .go span {
    background-image: var(--icon_go2);
}

[class^="btn_wrap"].color_type .location span {
    background-image: var(--icon_location2);
}

[class^="btn_wrap"].color_type .home span {
    background-image: var(--icon_home2);
}

[class^="btn_wrap"].type02 a {
    display: inline-block;
    font-weight: var(--font_w500);
    font-size: var(--font_14);
    color: var(--color_white);
    background: linear-gradient(90deg, rgba(81, 117, 193, 1) 30%, rgba(0, 144, 141, 1) 75%);
    border-radius: 5px;
    padding: 12px 25px 12px 15px;
    box-sizing: border-box;
}

[class^="btn_wrap"].type02 a span {
    display: inline-block;
    padding-right: 30px;
    position: relative;
    color: var(--color_white);
}

[class^="btn_wrap"].type02 a span:after {
    content: "";
    width: 19px;
    height: 9px;
    background: url("/admin/img/images/common/btn-B-golico.png") no-repeat;
    position: absolute;
    top: 7px;
    right: 0;
}

[class^="btn_wrap"].type02 .link_type1 {
    background: var(--color_white);
    border: solid 2px var(--color_purple);
    color: var(--color_purple);
    position: relative;
}

[class^="btn_wrap"].type02 .link_type1 span {
    color: var(--color_purple);
}

[class^="btn_wrap"].type02 .link_type1 span:after {
    content: "";
    width: 19px;
    height: 9px;
    background: url("/admin/img/images/common/btn-B02-golico.png") no-repeat;
}

[class^="btn_wrap"] .fbtn {
    border: 1px solid #d1d1d1;
    padding: 9px 17px;
    font-size: var(--font_14);
    font-weight: 300;
}

[class^="btn_wrap"] .fbtn:hover {
    background: var(--color_f7);
}

[class^="btn_wrap"] .fbtn span {
    display: block;
    height: 22px;
    padding-left: 30px;
}

[class^="btn_wrap"] .fbtn.sbtn {
    padding: 0 10px;
}

[class^="btn_wrap"] .fbtn.sbtn span {
    background-size: 20px !important;
    padding-right: 0;
    height: auto;
}

[class^="btn_wrap"].type02 .link_type2 {
    background: var(--color_purple);
}

[class^="btn_wrap"] .fbtn.hwp span {
    background: url("/admin/img/images/common/bt-icon-hwp.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.ppt span {
    background: url("/admin/img/images/common/bt-icon-ppt.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.xls span {
    background: url("/admin/img/images/common/bt-icon-xls.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.jpg span {
    background: url("/admin/img/images/common/bt-icon-jpg.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.gif span {
    background: url("/admin/img/images/common/bt-icon-gif.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.png span {
    background: url("/admin/img/images/common/bt-icon-png.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.zip span {
    background: url("/admin/img/images/common/bt-icon-zip.png") no-repeat left;
}

[class^="btn_wrap"] .fbtn.pdf span {
    background: url("/admin/img/images/common/bt-icon-pdf.png") no-repeat left;
}



/* 텍스트박스형 */


[class^="text_box"] {
    font-weight: var(--font_w500);
    font-size: var(--font_14);
    color: var(--color_5);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: dashed 1px #cccccc;
    border-radius: 5px;
}

[class^="text_box"].bg-g {
    background-color: var(--color_f9);
    ;
    color: var(--color_3);
}

[class^="text_box"].btn_type {
    width: 100%;
    border: dashed 1px #cccccc;
    border-radius: 5px;
    padding: 30px 30px;
    box-sizing: border-box;
}

[class^="text_box"].btn_type h5.tit {
    font-weight: var(--font_w500);
    font-size: var(--font_25);
    color: var(--color_0);
    padding-bottom: 15px;
}

[class^="text_box"].btn_type .txt {
    font-weight: var(--font_w400);
    font-size: var(--font_14);
    color: var(--color_5);
    display: block;
    padding-bottom: 15px;
}


/*인풋텍스트,셀렉트,라디오 공통*/
input[type="text"],
input[type="number"] {
    font-weight: var(--font_w400);
    width: 100%;
    color: var(--color_5);
    height: 38px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding: 0px 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #a5a5a5;
    opacity: 1;
}

input[type="password"] {
    font-weight: var(--font_w400);
    width: 300px;
    height: 38px;
    color: #111;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    font-size: var(--font_18);
    padding: 0px 10px;
    display: inline-block;
    vertical-align: middle;
}

input[type="password"]::placeholder {
    color: #a5a5a5;
    opacity: 1;
}

.chk-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.chk-select:before {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 9px;
    height: 5px;
    margin-top: -2px;
    line-height: 120%;
    content: "";
    background: url("/admin/img/images/board/selectIcon.png") center no-repeat;
}

.chk-select select {
    font-weight: var(--font_w400);
    color: var(--color_5);
    font-size: var(--font_16);
    width: 100%;
    height: 38px;
    padding: 5px 50px 5px 15px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    text-align: left;
    text-align-last: left;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chk-select select::-ms-expand {
    display: none;
}

textarea {
    width: 100%;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    padding: 10px;
    font-size: var(--font_18);
}

.radios {
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    line-height: 120%;
    color: var(--color_0);
}

.radios input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.radios input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: var(--font_16);
    color: #4d4d4d;
    line-height: 120%;
    cursor: pointer;
}

.radios input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    text-align: center;
    background: var(--color_white);
    border: 1px solid #a3a3a3;
    border-radius: 50%;
}

.radios input[type="radio"]+label:active:before,
.checks input[type="radio"]:checked+label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.radios input[type="radio"]:checked+label {
    color: #333353;
}

.radios input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #333353;
    border-radius: 100%;
}


.checks {
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    line-height: 100%;
    color: var(--color_0);
}

.checks input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checks input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    font-size: var(--font_18);
    line-height: 120%;
    color: #47495a;
    font-weight: var(--font_w500);
    letter-spacing: -0.03em;
    cursor: pointer;
}

.checks input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    text-align: center;
    background: var(--color_white);
    border: 1px solid #cecece;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="checkbox"]+label:active:before,
.checks input[type="radio"]:checked+label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="checkbox"]:checked+label {
    color: #373737;
}

.checks input[type="checkbox"]:checked+label:before {
    background: var(--color_white);
    border-color: #0942a1;
}

/* culItrBox end */
.txtBoxWrap {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.txtBoxWrap .tbwList {
    width: 32%;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--color_f9);
    ;
    border: 1px dashed #e1e1e1;
}

.txtBoxWrap .tbwList.list4 {
    width: 24%;
}

.txtBoxWrap .tbwList.list5 {
    width: 19%;
}

.txtBoxWrap .tbwList.list2 {
    width: 49%;
}

.txtBoxWrap .tbwList.list1 {
    width: 100%;
}

.txtBoxWrap .tbwList dt {
    width: 100%;
    color: var(--color_3);
    font-size: var(--font_18);
    padding: 20px 30px;
    box-sizing: border-box;
    color: #111;
    text-align: left;
    font-weight: var(--font_w500);
    color: var(--color_0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txtBoxWrap .tbwList dd {
    text-align: left;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: var(--color_white);
    border-top: 1px dashed #e1e1e1;
}

.txtBoxWrap .tbwList dd p {
    font-weight: var(--font_w400);
    color: var(--color_5);
    font-size: var(--font_16);
    line-height: 190%;
    letter-spacing: -1px;
}

.txtBoxWrap .tbwList .tel {
    padding-left: 24px;
    background: url('/admin/img/images/common/telIcon.png') left center no-repeat;
    color: var(--color_5);
}

.txtBoxWrap .tbwList .fax {
    padding-left: 24px;
    background: url('/admin/img/images/common/faxIcon.png') left center no-repeat;
    color: var(--color_5);
    margin-left: 25px;
    position: relative;
    display: inline-block;
}

.txtBoxWrap .tbwList .fax::before {
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    top: 50%;
    width: 2px;
    height: 12px;
    background-color: #b9b9b9;
    margin-top: -6px;
}


[class^="board_list"] {
    position: relative;
}

[class^="board_list"]:after {
    clear: both;
    content: "";
    display: block;
}

[class^="board_list"] table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    clear: both;
    background: var(--color_white);
    border-top: 2px solid #333353;
}

[class^="board_list"] table thead th {
    background: var(--color_white);
    color: #111;
    text-align: center;
    letter-spacing: -0.03em;
    padding: 15px 0;
    font-size: var(--font_18);
    border-bottom: 1px solid #999;
    font-weight: var(--font_w500);
    background-color: var(--color_f7);
}

[class^="board_list"] table thead th span {
    display: inline-block;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative;
}

[class^="board_list"] table thead th:not(:last-child) span:before {
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    background-color: #9d9d9d;
}

[class^="board_list"] table thead th:last-child span {
    border-right: 0;
}

[class^="board_list"] table tbody tr {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

[class^="board_list"] table tbody th {
    letter-spacing: -0.02em;
    padding: 12px 10px;
    color: #111;
    border-bottom: 1px solid #e7e7e7;
    font-size: var(--font_16);
    background: #fbfbfb;
    font-weight: var(--font_w500);
    text-align: center;
}

[class^="board_list"] table tbody td {
    color: var(--color_5);
    letter-spacing: -0.02em;
    padding: 12px 10px;
    border-bottom: 1px solid #dcdcdc;
    font-size: var(--font_17);
    text-align: center;
    word-break: break-all;
}

[class^="board_list"] table tbody tr:last-child td {
    border-color: #9d9d9d;
}

[class^="board_list"] table tbody td.notice {
    background-color: var(--color_green2);
    color: var(--color_white);
}


[class^="board_list"] table tbody td.title:not(.physicalType) {
    text-align: left;
}

[class^="board_list"] table tbody td.title>a {
    text-align: left;
}

[class^="board_list"] table tbody td.title a:hover {
    color: var(--color_green2);
    text-decoration: underline;
}

[class^="board_list"] table tbody td.title span {
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    color: var(--color_white);
    background-color: #5175c1;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    box-sizing: border-box;
    margin-left: 5px;
}

[class^="board_list"] table tbody td .icons {
    display: inline-block;
    vertical-align: middle;
}

[class^="board_list"] table tbody td .btns {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    background: #61564b;
    color: var(--color_white);
    font-size: var(--font_14);
}

[class^="board_list"] table tbody td .btns span {
    display: block;
    line-height: 120%;
}

[class^="board_list"] table tbody td .btns.map {
    background: #373789;
}

[class^="board_list"] table tbody td .btns.march {
    background: #4d5bbc;
}

[class^="board_list"] table tbody td .btns.comp {
    background: #666666;
}


[class^="board_selecter"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

[class^="board_selecter"] .totalTxt {
    font-size: var(--font_16);
    color: var(--color_5);
    font-weight: var(--font_w500);
    padding-left: 25px;
    background: url('./images/board/listTotal.png') left center no-repeat;
}

[class^="board_selecter"] .boardSearch {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

[class^="board_selecter"] .boardSearch select,
[class^="board_selecter"] .boardSearch-input {
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    background-color: #f8f8f8;
    letter-spacing: -0.5px;
}

[class^="board_selecter"] .boardSearch select {
    padding: 10px 15px;
    padding-right: 40px;
    background-image: url('./images/board/selectIcon.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-size: var(--font_16);
    font-weight: var(--font_w500);
    color: var(--color_5);
    margin-right: 15px;
}

[class^="board_selecter"] .boardSearch-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    overflow: hidden;
}

[class^="board_selecter"] .boardSearch-input input[type='text'],
[class^="board_selecter"] .boardSearch-input input[type='number'] {
    border: none;
    font-size: var(--font_16);
    font-weight: var(--font_w500);
    color: var(--color_5);
    line-height: 25px;
    width: 220px;
    background-color: var(--color_white);
    padding-left: 15px;
    border-right: 1px solid #e0e0e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

[class^="board_selecter"] .boardSearch-input input[type='submit'] {
    font-size: 0;
    border: none;
    background: url('./images/board/searchIcon.png') center no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 13px;
    margin-bottom: 2px;
    vertical-align: top;
}


[class^="board_list_btn"] {
    width: 100%;
    position: relative;
}

[class^="board_list_btn"] .bdNumWrap {
    text-align: center;
}

[class^="board_list_btn"] .bdNumWrap .bdNumList {
    display: inline-block;
    margin: 0 7px;
    vertical-align: middle;
}

[class^="board_list_btn"] .bdNumWrap .bdNum {
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    ;
    color: var(--color_5);
    font-weight: var(--font_w500);
}

[class^="board_list_btn"] .bdNumWrap .bdNum.numOn {
    background: var(--color_5);
    color: var(--color_white);
}

[class^="board_list_btn"] [class^="board_btns"] {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -21px;
}

[class^="board_list_btn"] [class^="board_btns"]>a,
[class^="board_list_btn"] [class^="board_btns"]>input {
    display: inline-block;
    vertical-align: top;
}

[class^="board_btns"] input {
    width: 87px;
    height: 40px;
    font-size: var(--font_16);
    font-weight: var(--font_w400);
    border: 1px solid #d1d1d1;
    color: var(--color_5);
    background: var(--color_white);
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;

}


[class^="board_btns"] .btn_acc{
    background-color: var(--color_3);
    border-color:var(--color_3);
    color:var(--color_white);
}

[class^="board_btns"] input:hover{
    opacity: 0.8;
}


[class^="board_table"] {
    width: 100%;
    border-top: 2px solid var(--color_0);
    border-bottom: 1px solid #9d9d9d;
}

[class^="board_table"] .bdvCntWrap {
    min-height: 300px;
}

[class^="board_table"] .bdvCntWrap img {
    max-width: 100%;
}

[class^="write_address"] [class^="file_wrap"].address {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

[class^="write_address"] [class^="file_wrap"].address input {
    max-width: 300px;
}

[class^="write_address"] .addressMore {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[class^="write_address"] .addressMore input {
    width: 49%;
}


[class^="board_pagebtn"] dl {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-top: 1px solid #dcdcdc;
    background-color: var(--color_white);
}

[class^="board_pagebtn"] dl:last-child {
    border-bottom: 1px solid #dcdcdc;
}

[class^="board_pagebtn"] dt,
[class^="board_pagebtn"] dd {
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    ;
}

[class^="board_pagebtn"] dt {
    background-color: #f8f8f8;
    width: 190px;
    flex-shrink: 0;
    justify-content: center;
}

[class^="board_pagebtn"] dt span {
    display: inline-block;
    font-size: var(--font_16);
    font-weight: var(--font_w500);
    color: var(--color_0);
    padding-right: 20px;
    background-position: right center;
    background-repeat: no-repeat;
}

[class^="board_pagebtn"] .page_prev span {
    background-image: url('./images/board/prevList.png');
}

[class^="board_pagebtn"] .page_next span {
    background-image: url('./images/board/nextList.png');
}

[class^="board_pagebtn"] dd {
    width: 70%;
    justify-content: flex-start;
}

[class^="board_pagebtn"] dd a {
    font-size: var(--font_16);
    color: var(--color_5);
    font-weight: var(--font_w500);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    ;
}

[class^="board_table"] table thead th {
    background: var(--color_f7);
    color: var(--color_0);
    text-align: left;
    letter-spacing: -0.03em;
    padding: 12px;
    font-size: var(--font_16);
    border-bottom: 1px solid #999;
    font-weight: var(--font_w500);
}

[class^="board_table"] table tbody th,
[class^="board_table"] table tbody td {
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
    height: 60px;
}

[class^="board_table"] table tbody th {
    color: var(--color_0);
    background: var(--color_f7);
    font-size: var(--font_18);
    font-weight: var(--font_w500);
    text-align: center;
}

[class^="board_table"] table tbody td {
    color: var(--color_5);
    font-size: var(--font_16);
    font-weight: var(--font_w400);
    text-align: left;
    letter-spacing: -0.02em;

}

[class^="board_table"] table tbody th .impor_txt {
    position: relative;
}

[class^="board_table"] table tbody th .impor_txt:before {
    position: absolute;
    top: -1px;
    right: -15px;
    color: #e55757;
    font-size: var(--font_13);
    font-weight: var(--font_w600);
    content: "＊";
}

[class^="board_table"] table tbody td .tel_input {
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px
}

[class^="board_table"] table tbody td .tel_input .chk-select {
    width: 30%;
}

[class^="board_table"] table tbody td .tel_input input[type="text"] {
    width: 30%;
}

[class^="board_table"] table tbody td .tel_input .line {
    line-height: 38px;
    vertical-align: middle;
    font-size: var(--font_15);
    font-weight: var(--font_w700);
    display: inline-block;
    text-align: center;
}

[class^="board_table"] table tbody td .email_input {
    font-size: 0px;
}

[class^="board_table"] table tbody td .email_input .id {
    width: 30%;
}

[class^="board_table"] table tbody td .email_input .at {
    width: 5%;
    display: inline-block;
    line-height: 38px;
    font-size: var(--font_16);
    color: #555454;
    text-align: center;
    vertical-align: middle;
}

[class^="board_table"] table tbody td .email_input .email {
    width: 35%;
    margin-right: 1%;
}

[class^="board_table"] table tbody td .email_input .chk-select {
    width: 28%;
}

[class^="board_table"] table tbody td .radio_group .radios {
    margin-right: 30px;
}

[class^="board_table"] table tbody td .radio_group .radios:last-child {
    margin-right: 0px;
}

[class^="board_table"] table tbody td textarea {
    width: 100%;
    height: 220px;
}

[class^="board_table"] .scBtn .scbBtn {
    color: var(--color_white);
    border: none;
    font-weight: var(--font_w500);
    padding: 7px 40px;
    box-sizing: border-box;
    border-radius: 50px;
}

[class^="board_table"] .scBtn .searchData {
    background-color: #1659c7;
}

[class^="board_table"] .scBtn .resetData {
    color: var(--color_white);
    background-color: var(--color_0);
}

[class^="board_table"] .daySpan {
    display: inline-block;
    width: 7.5%;
    text-align: center;
}



[class^="file_wrap"] {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

[class^="file_wrap"] .btn_file {
    display: block;
    font-size: var(--font_14);
    line-height: 36px;
    border: 1px solid #b5b5b5;
    box-sizing: border-box;
    background: #e0e0e0;
    color: var(--color_0);
    font-weight: var(--font_w400);
    width: 100px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

*/ [class^="file_wrap"] input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

[class^="file_wrap"].active .btn_file {
    background: #0942a1;
}


[class^="board_table"] [class^="viewer_type"] [class^="viewr_title"] th {
    padding: 30px 20px;
}

[class^="board_table"] [class^="viewer_type"] [class^="file_wrap"] {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

[class^="board_table"] [class^="viewer_type"] [class^="file_wrap"] li a {
    padding-left: 25px;
    background: url('./images/board/fileIcon.png') left center no-repeat;
    font-size: var(--font_16);
    color: var(--color_5);
}


/* S.이미지게시판 */
[class^="photo_list"] .photoListUl {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -1.5%;
}

[class^="photo_list"] .photoListUl .htoListCnt {
    width: 23.5%;
    margin-right: 1.5%;
    margin-bottom: 20px;
}

[class^="photo_list"] .photoListUl .htoListCnt>a {
    display: block;
    border-radius: 10px;
    border: 1px dashed #ccc;
    padding: 15px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoImg {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: 200px;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoImg img {
    width: 100%;
    height: 100%;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox {
    margin-top: 20px;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox .photoTitle {
    font-size: var(--font_18);
    font-weight: var(--font_w500);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox .phptoInfo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox .phptoInfo p {
    font-size: var(--font_16);
    font-weight: var(--font_w500);
    color: var(--color_5);
    padding-left: 22px;
    box-sizing: border-box;
    background-position: left center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox .phptoInfo .photoDate {
    background-image: url('./images/board/dayIcon_black.png');
    background-position: left 60%;
}

[class^="photo_list"] .photoListUl .htoListCnt .photoInfoBox .phptoInfo .photoWriter {
    background-image: url('./images/board/writerIcon.png');
    min-width: 100px;
}

[class^="photo_list"] .photoListUl .htoListCnt>a:hover {
    border-color: var(--color_green2);
    border-style: solid;
    background-color: #faffff;
    ;
}

[class^="photo_list"] .photoListUl .htoListCnt>a:hover .photoTitle {
    color: var(--color_green2);
    font-weight: var(--font_w500);
}

[class^="bd_minibtn"] {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 7px;
}

[class^="bd_minibtn"] li {
    display: inline-block;
    position: relative;
    margin: 0 2px;
}

[class^="bd_minibtn"] li input {
    display: block;
    width: 68px;
    border-radius: 50px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    background-color:var(--color_white);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: var(--color_5);
    font-weight: var(--font_w300);
    cursor: pointer;
}
[class^="bd_minibtn"] li input:active{
    background-color:var(--color_5);
    color:var(--color_white)
}